{% extends 'base.html' %}

{% block content %}

<div class="row my-5">
  <div class="col-6 mx-auto">
    <form action="/createListing/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>{{ field.label_tag }}</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
                <label>{{ field }}</label>
            </div>
          </div>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="my-5 btn btn-success"/>
    </form>
  </div>
</row>

{% endblock content %}
