{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="A marketplace for UVA's CIOs.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}CIO Yard Sale{% endblock title %}
        </title>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% endblock scripts %}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        {% endblock stylesheets %}

    </head>

    <!-- Body of webpage - style fixes the footer to the bottom of page -->
    <body style="margin: 0; padding:0; overflow-x: hidden; display: flex; min-height: 100vh; flex-direction: column;">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-shopping-basket"></i> CIO Yard Sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div class="mx-2 pt-3" style="font-size:16px;">
              {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                  <div class="row">
                    <div class="col-md-12">
                      <a style="color: black" class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fas fa-user"></i>
                          </div>
                          <div class="col-md-2">
                            <p>{{ request.user.username }}</p>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'students:profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'students:logout' %}">Sign Out</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% else%}
                <!-- TO DO -->
                <p>log in</p>
    
              {% endif %}
          </div>
        </div>
      </nav>

      <main style="flex: 1">
      {% block content %}{% endblock content %}
      </main>

      <footer class="footer bg-light">
          <div class="container py-1">
              <div class="row">
                  <div class="col-md-6 pt-3">
                      <h6>Contact</h6>
                        <!-- Email -->
                        <div class="row py-2">
                            <div class="col-1">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-11">
                                <a class="text-muted" href="mailto:enf5cb@virginia.edu">cioyardsale@virginia.edu</a>
                            </div>
                        </div>

                        <!-- Social Media -->
                        <div class="row pt-3">
                            <div class="col-12 pl-2 d-flex flex-row">
                                <a class="text-white" href="#">
                                    <i class="fa fa-facebook-official fa-2x px-2"></i>
                                </a>
                                <a class="text-white" href="#">
                                    <i class="fa fa-instagram fa-2x px-2"></i>
                                </a>
                                <a class="text-white" href="#">
                                    <i class="fa fa-home fa-2x px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                  <div class="col-md-6 pt-3">
                    <h6>About Us</h6>
                    <div id="about-us-text" class="text-muted py-2">
                          CIO Yard Sale was created in 2018. It provides a market place for UVA CIOs and students
                          to buy and sell merchandise.
                    </div>
                  </div>
              </div>
              <hr>
              <div class="row py-1 px-0 mx-0">
                  <div class="col-md-12 px-0 mx-0" style="font-size: 10px;">
                      &copy; CIO Yard Sale, 2017. All Rights Reserved.
                  </div>
              </div>
          </div>
      </footer>
    </body>
</html>
