{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12 text-right">
    <a href="{% url 'create_listing' %}"><button type="button" class="btn btn-success my-3 mr-5"> Create New Listing! </button></a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="text-center mt-5 mb-2">
      <h3>All items for sale</h3>
	  <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto text-center mb-5">
    <div class="list-group list-group-flush">
      <a class="list-group-item" style="font-weight: bold;">
        <div class="row">
          <div class="col-6">
            Item Title
          </div>
          <div class="col-6">
            Item Price
          </div>
        </div>
      </a>

      {% for item in items %}
        <a href="{% url 'view_item' item.pk %}" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-6">
              {{ item.fields.title }}
            </div>
            <div class="col-6">
              ${{ item.fields.price }}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>

  </div>
</div>


{% endblock content %}
