{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="text-center mt-5 mb-2">
      <h3>All items for sale</h3>
	  <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mx-auto text-center">
    <a href="{% url 'create_listing' %}"><button type="button"> Create New Listing! </button></a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mx-auto text-center">
    {% for item in items %}
		<a href="{% url 'view_item' item.pk %}">Title: {{ item.fields.title }}</a>
		<p>{{ item.fields.picture }}</p>
    {% endfor %}
  </div>
</div>


{% endblock content %}
