{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 offset-3">
          <h3 class="text-center my-3">Log In</h3>
          <form method="POST">
            {% csrf_token %}
            <div class="row">
                <label for="username">{{ loginForm.username.label}}</label>
                {{ loginForm.username }}
            </div>
            <div class="row">
                <label for="password">{{ loginForm.password.label}}</label>
                {{ loginForm.password }}
            </div>
            <br>
            <button type="submit" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-3 offset-3 text-center">
      <a href="" style="color: black;"><h6> Sign Up to Buy </h6></a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" style="color: black;"><h6> Sign Up a CIO </h6></a>
    </div>
  </div>

</div>

{% endblock content %}
